<div>
    <p>
        {{ query }}
    </p>
</div>
<table id="queryTable" class="table">
    <thead>
        <tr>
            {% for column in columns %}
                <th>
                    <p>{{ column }}<p>
                    <div style="display: block;">
                        <button type="button" value="asc" onclick="selectOrder('{{ column }}', 'asc');">asc</button>
                        <button type="button" value="desc" onclick="selectOrder('{{ column }}', 'desc');">desc</button>
                    </div>
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for tuple in tuples %}
            <tr>
                {% for value in tuple %}
                    <td>{{ value }}</td>
                {%  endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>